@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@media (max-width: 640px) {
  .container {
    @apply px-4;
  }
}

@media (min-width: 1024px) {
  .container {
    @apply px-16;
  }
}

/* Scroll bar */

/* ::-webkit-scrollbar {
  width: 8px;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: auto;
  border-radius: 8px;
}

:-webkit-scrollbar-track {
  background: transparent;
} */

/* Background */

/* .bg-grid-dots {
  background-color: #f6f2ea;
  background-image: url("/images/dots-grid.svg"), url("/images/noise.png");
  background-position:
    0 0,
    0 0;
  background-size: auto, auto;
  border-radius: 36px;
  margin-left: auto;
  margin-right: auto;
}

.dark .bg-grid-dots {
  background-image: url("/images/dots-grid.svg"),
    url("/images/noise-modified.png");
}

@media (max-width: 640px) {
  .bg-grid-dots {
    border-radius: 16px;
  }
} */

/*  */

.bg-colorful-animation {
  background-image: url("/images/heading-animation.webp");
  background-size: cover;
  background-clip: text;
  background-position: 50%;
  background-repeat: no-repeat;
  background-blend-mode: color-burn;

  color: transparent;
}

/*  */

.bg-circuit::before {
  content: "";
  position: absolute;
  inset: 0;
  transform: scaleX(-1);
}

.bg-circuit,
.bg-circuit::before {
  background-image: url("/images/circuit-lines.webp"),
    url("/images/circuit-components.webp");
  background-size: 969px auto;
  background-position: calc(50% - 969px / 2) -0rem;
  background-repeat: no-repeat;
}

/*  */

/* .grain {
  pointer-events: none;
  z-index: 9999;
  justify-content: center;
  align-items: center;
  display: flex;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  overflow: hidden;
}

.grain-texture {
  animation: 2s steps(1) infinite noise;
  width: 300%;
  height: 300%;
  max-width: none;
  background-image: url("/images/grain.png");
  background-position: 50%;
  background-size: 256px;
  flex: none;
  position: absolute;
  top: -150%;
  bottom: 0%;
  left: -150%;
  right: 0%;
}

@keyframes noise {
  0%,
  100% {
    background-position: 0 0;
  }

  10% {
    background-position: -5% -10%;
  }

  20% {
    background-position: -15% 5%;
  }

  30% {
    background-position: 7% -25%;
  }

  40% {
    background-position: 20% 25%;
  }

  50% {
    background-position: -25% 10%;
  }

  60% {
    background-position: 15% 5%;
  }

  70% {
    background-position: 0% 15%;
  }

  80% {
    background-position: 25% 35%;
  }

  90% {
    background-position: -10% 10%;
  }
} */

/* Animated button */

.animated-button {
  @apply relative overflow-hidden;
}

.animated-button-bg {
  @apply absolute h-[calc(2.5rem*8)] w-[calc(2.5rem*8)] scale-0 rounded-full bg-purple-600 opacity-0 transition-transform duration-700 contain-none;
}

.animated-button-text {
  @apply z-[2] transition-colors duration-700;
}

.animated-button:hover {
  .animated-button-bg {
    @apply scale-100 opacity-100;
  }

  .animated-button-text {
    @apply text-white;
  }
}

/* Animated box */

.animated-box {
  position: relative;
  background-color: #101010;
}

.animated-box:hover::before {
  opacity: 1;
  top: 20%;
}

.animated-box::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 86px;
  left: 0;
  top: 80%;
  z-index: 1;
  opacity: 0;
  background: linear-gradient(
    0deg,
    rgba(59, 56, 65, 0) 22.4%,
    #a594fd 60.94%,
    rgba(59, 56, 65, 0)
  );
  transition:
    top 0.8s cubic-bezier(0.215, 0.61, 0.355, 1),
    opacity 0.4s linear;
  will-change: transform, opacity;
}
